<html>
<head>
	<title>Enigma &#8226; Page Not Found</title>
	<base href="http://enigmatest.kaelri.com/" target="_blank" />
	<link rel="shortcut icon" href="http://enigmatest.kaelri.com/images/favicon.ico" />
	<link rel="stylesheet"    href="http://enigmatest.kaelri.com/css/main.css" type="text/css" media="screen"  />
	<link rel="alternate"     href="http://enigmatest.kaelri.com/update/version.xml" type="application/rss+xml" />
</head>
<body>
	<div id="wrapper">
		<div id="header">
			<div id="menu">
				<span class="{% if page.parent == 'about'       %}current{% endif %}"><a href="http://enigmatest.kaelri.com/">About</a></span>
				<span class="{% if page.parent == 'downloads'   %}current{% endif %}"><a href="http://enigmatest.kaelri.com/downloads.html">Downloads</a></span>
				<span class="{% if page.parent == 'support'     %}current{% endif %}"><a href="http://enigmatest.kaelri.com/support.html">Support</a></span>
				<span class="{% if page.parent == 'development' %}current{% endif %}"><a href="http://enigmatest.kaelri.com/development.html">Development</a></span>
				<span class="{% if page.parent == 'contact'     %}current{% endif %}"><a href="http://enigmatest.kaelri.com/contact.html">Contact</a></span>
			</div>
			<div id="title">
				<a href="http://enigma.kaelri.com/">Enigma</a>
			</div>
		</div>

		<div id="content">
			<h3>Page not found.</h3>
			<p>This page totally doesn't exist. I commend you on your imagination.</p>
		</div>

		<div id="footer">
			<div class="copy">&copy; <a href="http://kaelri.com">M. Engard</a></div>
		</div>
	</div>
</body>
</html>